.breadcrumb {
    background: none;
    padding: 0;
    font-size: .938em;
    margin: 0px auto 5px;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin:0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color:#666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting();
    }
}
