$fatBgColor: #FFF; //fatFooter 底色
$fatTextColor: $color-word; //fatFooter 連結顏色
.fatfooter {
    @include clearfix;
    @include make-fatfooter(4, 100%);
    @include screen('tablet') {
        @include make-fatfooter(4, 100%);
    } // 如需要手機版顯示，把以下註解即可，或改為visible
    @media (max-width: 767px) {
        display: none;
    }
}

.fatfooter {
    overflow: hidden;
    position: relative;
    padding: 0;
    background-color: #66bb6a;
    margin-left: auto;
    margin-right: auto; // 右上方切換收合按鈕設定
    padding-bottom: 50px;
    z-index: 9;
    .container {
        position: relative;
        overflow: hidden;
        @include box-sizing();
    }
    @include screen('tablet') {
        @include gutter(100px); //gutter 代表左右要留白
    }
    
    a.accesskey{
          padding-top: 3em;
        padding-bottom: 10px;
        color: #666!important;
        &:focus{
            color: #fff!important;
        }
       
    } //fatfooter選單
    .btn-fatfooter {
        font-size: .813em;
        cursor: pointer;
        display: inline-block;
        width: 80px;
        height: 80px;
        color: #333;
        border: none;
        background: #434343;
        position: absolute;
        top: -50px;
        left: 47%;
        z-index: 9;
        text-indent: -9999px;
        @include border-radius(50%);
        &:before {
            position: absolute;
            width: 16px;
            height: 16px;
            border: 2px solid #FFF;
            content: ""; // transform:rotate(135deg);
            transform: rotate(-45deg);
            top: 70%;
            left: 50%;
            border-left: none;
            border-bottom: none;
            margin-left: -8px;
            transition: .3s ease-out;
        }
        &.close {
            &:before {
                top: 60%;
                transform: rotate(135deg);
            }
        }
        &:hover,
        &:focus {
            background: #434343;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
        }
    }
    nav {
        clear: both;
        color: #fff;
        overflow: hidden;
        display: block;
        position: relative;
        padding: 0;
        padding-top: 70px;

        @include box-sizing(border-box);
        ul {
            list-style: none;
            margin: 0;
            overflow: hidden;
            width: 100%;
            padding: 0;
            @media (max-width: 767px) {
                width: 100%;
                display: block;
                margin: 0px auto;
            }
            li {
                display: inline-block; // outline: 1px solid red;
                text-align: left;
                font-size: 1.25em;
                vertical-align: top;
                padding-top: 2px;
                line-height: 2.6em; // margin:$fatFooterliMargin;
                @include box-sizing(border-box);
                @media (max-width: 767px) {
                    display:block;
                }
                a {
                    color: $fatTextColor;
                    text-align: left;
                    line-height: 1.65em;
                    display: block;
                    font-weight: 400;
                    padding: 1% 5%;
                    text-decoration: underline;
                    
                    &:hover,
                    &:focus {
                        color: #333;
                        text-decoration: none;
                        background: $lightColor;
                        border: none;
                        outline: none;
                        @include border-radius(3px);
                    }
                }
                ul {
                    padding: 0;
                    margin-top: 5px;
                    overflow: hidden;
                    @media (max-width: 767px) {
                        width:auto;
                        padding-left: 5%;
                    }
                    li {
                        display: block;
                        margin: 0;
                        padding: 5px 2px;
                        border: none;
                        background: none;
                        width: 100%;
                        font-size: 0.875em;
                        a {
                            display: block;
                            color: #333;
                            font-weight: normal;
                            text-align: left;
                            text-decoration: none;
                            font-size: .938em;
                            font-weight: normal;
                            line-height: 1.4em;
                            padding: 3px 8px;
                            background: none;

                            @include box-sizing(border-box);
                            border-bottom: none;
                        }
                    }
                    ul {
                        display: none; //第三層關閉
                    }
                }
            }
        }
    }
    .share_fatfoot {
        text-align: right;
        margin-top: 20px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                a{
                    display: block;
                }
            }
        }
    }
}