footer {
    @include box-sizing(border-box);
    text-align: left;
    font-size: 0.875em;
    background-color: #2c602e;
    color: #fff;
    .container {
        @include gutter();
        padding-top: 20px;
        padding-bottom: 20px;
        >div {
            padding-bottom: 1em;
        }
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    // .footer_logo {
    //     @include make-xs-column(8);
    //     @include make-sm-column(2);
    //     @include make-md-column(2);
    //     @include make-lg-column(2);
    //     @include gutter();
    // }
    .footer_info {
        @include make-xs-column(12);
        @include make-sm-column(10);
        @include make-md-column(10);
        @include make-lg-column(10);
        @include gutter();
    }
    .footer_icon {
        @include make-xs-column(12);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
        @include gutter(10px);
    }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        margin: 0;
        li {
            float: left;
            display: block;
            margin: 0px 15px 5px 0px;
            position: relative;
            a {
                display: block;
                padding: 0;
                color: #fff;
                background-color: transparent;
                text-decoration: underline;
                &:hover,
                &:focus {
                    color: $color-yellow;
                }
            }
            &:before {
                content: '';
                width: 1px;
                height: 13px;
                background-color: #fff;
                position: absolute;
                right: -7px;
                top: 5px;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }
    p {
        line-height: 1.65em;
        margin: 0;
        padding: 0;
    }
    .Copyright {
        padding: 0;
        margin: 0;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: $color-yellow;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
        }
        img {
            max-width: 120px;
        }
    }
}