.tabSet {
    width: 100%;
    margin: 0px auto;
    background: transparent; // overflow: hidden;
    @include clearfix();
    @include screen('mobile') {
        max-width: 100%;
        width: auto;
        height: auto !important;
    }
}
.tabs {
    position: relative;
    @include screen('mobile') {
        position: relative;
    }
    &>.tabItem {
        &.active>a {
            background-color: $lightColor;
            color: #000;
        }
        float: left;
        font-size: 1em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: normal;
        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #fff;
            }
            &.active>a {
                border-color: #bbb;
            }
        }
        &>a {
            display: block;
            padding: 16px 0 14px;
            text-align: center;
            background-color: darken($primaryColor, 8);
            color: #fff;
            text-decoration: none;
            @include text-overflow();
            @include box-sizing();
            &:hover {
                background-color: $lightColor;
                color: #000;
            }
        }
    }
}
// 顯示content
.active+.tabContent {
    display: block;
}
.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 14px 40px 10px;
    display: none;
    background-color: $primaryColor;
    min-height: 330px;
    overflow: hidden;
    @include screen('tablet') {
        padding: 14px 25px 10px;
    }
    @include screen('mobile') {
        position: static;
    }
    .select {
        margin-bottom: 5px;
        position: relative;
        display: block;
        .explain {
            position: absolute;
            top: 0px;
            left: 30px;
            width: 90%;
            background-color: #f2ba1d;
            padding: 1px 10px;
            color: #000;
            border-radius: 5px;
            display: none;
            @include screen('xs_mobile') {
                width: 80%;
            }
        }
        label{
           font-size: 0;
        }
        select {
            display: inline-block;
            width: calc(100% - 95px);
            margin-right: 5px;
        }
        button {
            width: 60px !important;
            margin: -3px 0 0 0;
            display: inline-block;
            height: 2.4em;
            background-color: $color-gray;
            color: #333;
            border: 1px solid $color-gray;
        }
    }
    ul {
        list-style-type: none;
        margin: 0 0 20px;
        padding: 0;
        line-height: 1.6;
    }
    li {
        margin: 0 0 6px 0;
        padding: 2px;
        border-bottom: 1px lighten($primaryColor, 10) dotted;
        text-align: left;
        color: #fff;
        @include text-overflow();
        @include screen('tablet') {
            white-space: normal;
        }
        a {
            color: #fff;
            &:hover,
            &:focus {
                color: $lightColor;
            }
            &:focus {
                // outline: 2px solid $lightColor;
            }
        }
        span {
            display: block;
            margin: 0;
            color: #acd598;
        }
    }
    .more {
        text-align: center;
        a {
            display: inline-block;
            background: transparent;
            color: #FFF;
            width: auto;
            padding: .3em 2em;
            border: 1px solid #fff;
            text-align: center;
            @include transition(all, .3s, ease-out);
            &:hover,
            &:focus {
                background-color: #024856
            }
        }
    }
}
//多組 可設定差異
//常見問答
.example-2 {
    &>.tabItem {
        position: relative;
        &:before {
            content: '';
            width: 4px;
            height: 63px;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            background-color: #fff;
            z-index: 99;
            transform: skewX(-15deg);
            @include screen('mobile') {
                display: none;
            }
        }
        &.active>a {
            background-color: $lightColor;
            color: #333;
        }
        float: left;
        font-size:1.125em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: normal;
        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #fff;
            }
            &.active>a {
                border-color: #fff;
            }
        }
        &>a {
            display: block;
            padding: 23px 0 20px;
            text-align: center;
            background-color: $primaryColor;
            color: #fff;
            text-decoration: none;
            transform: skewX(-15deg);
            @include screen('mobile') {
                transform: skewX(0deg);
            }
            span {
                transform: skewX(15deg);
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include screen('mobile') {
                    transform: skewX(0deg);
                }
            }
            @include box-sizing();
            &:hover,
            &:focus {
                background-color: $lightColor;
                color: #333;
                outline: none;
            }
        }
    }
}
.example-2 {
    .tabContent {
        padding: 14px 20px 20px 260px;
        background-color: #fff;
        min-height: 240px;
        margin: 10px 0 0px 0;
        background-image: url(../images/problem_pic01.gif);
        background-repeat: no-repeat;
        background-position: 10px 0;
        @include screen('mobile') {
            background-image: none;
            padding: 14px 10px 20px;
        }
        .select {
            margin-bottom: 5px;
            position: relative;
        }
        ul {
            list-style-type: none;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.6;
        }
        li {
            margin: 0 0 6px 0;
            padding: 2px 0 2px 10px;
            border-bottom: none;
            text-align: left;
            color: #fff;
            background-image: url(../images/icon02.png);
            background-position: 0 10px;
            background-repeat: no-repeat;
            white-space: normal;
            @include screen('mobile') {}
            a {
                color: #333;
                float: left;
                margin-right: 10px;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
            span {
                margin: 0;
                color: #545454;
                background-color: #e3e3e3;
                padding: 1px 20px 1px 40px;
                background-image: url(../images/icon_eye.png);
                background-position: 10px center;
                background-repeat: no-repeat;
                float: left;
                border-radius: 50px;
                font-size: 0.875em;
            }
        }
    }
}
//勞動部所屬機關
.example-3 {
    background-color: #fff;
    &>.tabItem {
        position: relative;
        &.active>a {
            background-color: #fff;
            color: #fff;
            &:before {
                content: '';
                border: 15px solid $secondaryColor;
                position: absolute;
                left: 45%;
                bottom: 0;
                border-top-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                @include screen('mobile') {
                    left: 48%;
                }
            }
            // &:focus {
            //     background-color: $color-gray;
            //      outline: none;
            // }
        }
        float: left;
        font-size:1.125em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: normal;
        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #888;
            }
            &.active>a {
                border-color: #bbb;
            }
        }
        &>a {
            display: block;
            padding: 23px 0 20px;
            text-align: center;
            background-color: #fff;
            color: #fff;
            text-decoration: none;
            @include box-sizing();
            &:hover {
                background-color: #ccc;
                color: #fff;
            }
        }
    }
}
.example-3 {
    .tabContent {
        padding: 30px 35px 20px;
        clear: both;
        background-color: $secondaryColor;
        min-height: 180px; // margin: 110px 0 0px 0;
        text-align: left;
        color: #fff;
        overflow: hidden;
        // @include box-sizing;
        @include screen('mobile') {
            margin: 0px;
            min-height: 300px;
        }
        article {
            float: left;
            width: 70%;
            margin-right: 50px;
            @media (max-width: 900px) {
                width: 100%;
                margin: 0 0 30px;
            }
            h4 {
                font-size: 1.562em;
                margin: 0 0 25px;
                float: left;
                font-weight: normal;
                a {
                    color: #fff;
                    display: block;
                    background-image: url(../images/agency_icon01.png);
                    background-repeat: no-repeat;
                    background-position: right 18px;
                    padding: 18px 50px 15px 15px;
                    background-color: #12497d;
                    border-radius: 5px;
                    line-height: 140%;
                    &:hover {
                        color: #000;
                        background-color: #f2ba1d;
                        background-image: url(../images/agency_icon02.png);
                    }
                }
            }
            .introduction {
                float: none;
                clear: both;
                span {
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
        ul {
            float: left;
            list-style-type: none;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.6;
            @media (max-width: 900px) {
                float: none;
                clear: both;
                margin: 0;
            }
        }
        li {
            margin: 0 0 2px 0;
            padding: 2px 0 2px 13px;
            border-bottom: none;
            text-align: left;
            color: #fff;
            background-image: url(../images/icon01.png);
            background-position: 0 10px;
            background-repeat: no-repeat;
            @include text-overflow();
            @include screen('mobile') {}
            a {
                color: #fff;
                float: left;
                margin-right: 10px;
                display: block;
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
            span {
                margin: 0;
                color: #545454;
                background-color: #e3e3e3;
                padding: 1px 20px 1px 40px;
                background-image: url(../images/icon_eye.png);
                background-position: 10px center;
                background-repeat: no-repeat;
                float: left;
                border-radius: 50px;
                font-size: 0.875em;
            }
        }
    }
}
//資遣解僱小百科
.example-4 {
    &>.tabItem {
        position: relative;
        &:before {
            content: '';
            width: 4px;
            height: 63px;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            background-color: #fff;
            z-index: 999;
        }
        &.active>a {
            background-color: $secondaryColor;
            color: #fff;
        }
        float: left;
        font-size:1.125em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: normal;
        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #888;
            }
            &.active>a {
                border-color: #bbb;
            }
        }
        &>a {
            display: block;
            padding: 23px 0 20px;
            text-align: center;
            background-color: $primaryColor;
            color: #fff;
            text-decoration: none;
            span {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            @include box-sizing();
            &:hover,
            &:focus {
                background-color: $secondaryColor;
                color: #fff;
            }
        }
    }
}
.example-4 {
    .tabContent {
        padding: 20px 30px 20px;
        background-color: #eee;
        min-height: 200px;
        margin: 0;
        p {
            line-height: 1.8em;
            margin: 0 20px 15px;
        }
        h4 {
            margin: 0 0 15px;
            padding: 15px;
            font-size: 1.125em;
            @include gradient(#fff, #eaeaea, vertical);
            box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        em {
            font-style: normal;
        }
        ul {
            margin: 0 20px 20px;
            padding: 0;
            li {
                list-style-type: none;
                border-bottom: 1px solid #CCC;
                background-image: url(../images/nplist_icon01.png);
                background-repeat: no-repeat;
                background-position: 0 15px;
                color: #333;
                white-space: normal;
                padding: 10px 10px 10px 15px;
                margin: 0;
                a {
                    display: block;
                }
                &:hover {
                    background-color: #FFC;
                    text-decoration: none;
                }
            }
        }
    }
    .more {
        text-align: right;
        a {
            display: inline-block;
            background: #d4d4d4;
            color: #333;
            width: auto;
            padding: .7em 2em .5em;
            border: none;
            text-align: center;
            @include transition(all, .3s, ease-out);
            &:hover,
            &:focus {
                background-color: #666;
                color: #fff;
            }
        }
    }
}
//國際交流區
.example-5 {
    position: relative;
    &>.tabItem {
        width: 50%;
        position: relative;
        z-index: 9;
        display: block;
        font-size: 1em;
        margin: 0 0 2px;
        padding: 0;
        line-height: 1;
        font-weight: normal;
        float: none;
        @include screen('mobile') {
            width: 100%;
        }
        >a {
            display: block;
            padding: 10px 25px 16px 100px;
            text-align: left;
            text-decoration: none;
            white-space: normal;
            background-color: #fff;
            color: #444;
            font-size: 1.125em;
            width: 100% !important;
            @include box-sizing();
            font-weight: normal;
            line-height: 1.9em;
            border-radius: 70px 0 0 70px;
            position: relative;
            overflow: hidden;
            height: 85px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            span {
                position: absolute;
                text-align: center;
                top: 5px;
                left: 5px;
                bottom: 5px;
                width: 75px;
                height: 75px;
                background-color: #707070;
                color: #fff;
                border-radius: 50%;
                font-size: .813em;
                line-height: 1.3em;
                padding: 7px 0;
                @include box-sizing();
            }
            &:hover,
            &:focus {
                color: #fff;
                background-color: $secondaryColor;
                outline: none;
                span {
                    background-color: #fff;
                    color: $secondaryColor;
                }
            }
        }
        &.active>a {
            color: #fff;
            background-color: $secondaryColor;
            box-shadow: none;
            position: relative;
            span {
                background-color: #fff;
                color: $secondaryColor;
            }
        }
        @include screen('(max-width:767px)') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #888;
            }
            &.active>a {
                border-color: #bbb;
            }
        }
    }
}
.example-5 {
    .tabContent {
        position: absolute;
        top: 0 !important;
        right: 0;
        left: auto;
        clear: both;
        padding: 3px 3px 0px;
        display: none;
        background-color: $secondaryColor;
        height: 346px;
        width: 50%;
        text-align: left;
        z-index: 99;
        border-bottom: 3px solid $secondaryColor;
        @include box-sizing;
        @include screen('mobile') {
            position: static;
            width: 100%;
            height: auto;
            min-height: inherit;
        }
        .international_pic {
            height: 347px;
            position: relative;
            border: 3px solid $secondaryColor;
            text-align: center;
            @include screen('mobile') {
                border-bottom: 5px solid $secondaryColor;
                height: auto;
            }
            img {
                // position: absolute;
                // top: 0;
                // right: 0;
                // bottom: 0;
                // left: 0;
                // max-width: 100%;
                // max-height: 100%;
                // margin: auto;
                width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
        .more {
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 0;
            @include screen('mobile') {
                position: relative;
                margin: 5px !important;
            }
            a {
                display: inline-block;
                background-color: $secondaryColor !important;
                color: #fff !important;
                width: auto;
                padding: .3em 2em .3em !important;
                border: none;
                text-align: center;
                border-radius: 30px 0 0 30px;
                @include transition(all, .3s, ease-out);
                @include screen('mobile') {
                    border-radius: 30px;
                }
                &:hover,
                &:focus {
                    background: rgba(255, 255, 255, .9) !important;
                    color: #333 !important;
                }
            }
        }
    }
}