//-----------------我要發問
.question {
    float: right;
    text-align: left;
    position: relative;
    margin: 0 0 15px 0;
    .button {
        a {
            background: url(../images/function2.png) no-repeat 5px 4px;
            padding: 2px 5px 2px 30px;
            margin: 5px 0 0;
            border-radius: 5px;
            border: 1px solid #CCC;
            display: block;
            color: #333;
            text-decoration: none;
            &:hover {
                background-color: #FFC;
                color: #333;
                text-decoration: none;
            }
        }
    }
    .block {
        background-color: #999;
        margin: 5px 0 0 0px;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        right: 0;
        width: 250px;
        text-align: left;
        display: none;
        z-index: 999;
        &:before {
            content: "";
            background-image: url(../images/question_icon01.png);
            background-repeat: no-repeat;
            background-position: right 0px;
            display: block;
            height: 5px;
            margin: -15px 0 0 0;
            padding: 18px 0 0 0;
        }
        .del {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin: 0 0 5px 0;
                width: 190px;
                a {
                    display: block;
                    background-color: #FFF;
                    padding: 3px 5px;
                    &:hover {
                        background-color: $primaryColor;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.ap h3 {
    color: $secondaryColor;
    font-size: 1.25em;
}
//------------------Select 表單選擇
.selectform {
    margin: 10px 0 10px;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 5px;
    @include gradient(#fff, #eee, vertical);
    label {
        font-size: 0;
    }
    select {
        display: inline-block;
        width: 30%;
        @media(max-width: 530px) {
            display: block;
            width: 100%;
        }
    }
    input[type="text"] {
        width: 50%;
        line-height: 2.4em;
        height: 2.4em;
        padding: 0 24px 0 .5em;
        @media(max-width: 530px) {
            display: block;
            width: 100%;
        }
    }
    .btn {
        background-color: #666;
        position: relative;
        border: 1px solid #666;
        color: #fff;
        padding: 0px 20px;
        height: 27px;
        cursor: pointer;
        vertical-align: middle;
        margin: -2px 5px 0 0;
        font-family: "微軟正黑體";
        font-size: 1em;
        text-align: center;
        position: relative;
    }
    .text {
        padding: 3px;
        border: 1px solid #ccc;
    }
    .button {
        display: inline-block;
        input {
            padding: 0.4em;
            margin-top: -2px;
        }
        @media(max-width: 530px) {
            display: block;
            margin-top: 10px;
        }
    }
}
/*-*/
.panel-title>a {
    display: block;
}
.panel-default {
    clear: both;
}
//問答
.well {
    border-radius: 0;
    padding: 15px 20px;
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    line-height: 1.8em;
    clear: both;
}
//accordionblock
.accordion {
    .accordionblock {
        width: 100%;
        margin: 0 0 10px;
        .topic {
            padding: 15px 100px 15px 15px;
            border-radius: 5px;
            color: #333;
            font-size: 1.0625em;
            position: relative;
            @include gradient(#fff, #eaeaea, vertical);
            box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            a {
                img {
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
            &:after {
                content: '';
                border: 4px solid #666;
                border-top: transparent;
                border-left: transparent;
                position: absolute;
                top: 18px;
                right: 15px;
                width: 8px;
                height: 8px;
                transform: rotate(45deg);
                transition: transform .5s;
            }
            &:before {
                content: '展開';
                position: absolute;
                top: 15px;
                right: 40px;
                transition: transform .5s;
            }
            &.turnicon {
                &:after {
                    top: 20px;
                    transform: rotate(225deg);
                }
                &:before {
                    content: '收合';
                }
            }
        }
        .unaccordion {
            &:after, &:before {
                content: '';
                border: none;
            }
            &.turnicon, &.turnicon2 {
                &:before {
                    content: '';
                }
            }
        }
        .answer {
            color: #000;
            padding: 0px;
            position: relative;
            p {
                line-height: 1.8em;
                margin: 10px 0 10px;
            }
            ul {
                margin: 10px 0 20px;
                padding: 0;
                li {
                    list-style-type: none;
                    border-bottom: 1px solid #CCC;
                    background-image: url(../images/nplist_icon01.png);
                    background-repeat: no-repeat;
                    background-position: 0 15px;
                    a {
                        display: block;
                        padding: 10px 10px 10px 15px;
                        img {
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                    &:hover {
                        background-color: #FFC;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
//QA
//accordionblock
.accordionqa {
    .accordionblock {
        width: 100%;
        margin: 0 0 10px;
        img {
            vertical-align: middle;
        }
        .Q {
            padding: 12px 100px 18px 15px;
            border-radius: 5px;
            color: #333;
            font-size: 1.0625em;
            position: relative;
            @include gradient(#fff, #eaeaea, vertical);
            box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            img {
                margin-right: 10px;
            }
            &:after {
                content: '';
                border: 4px solid #666;
                border-top: transparent;
                border-left: transparent;
                position: absolute;
                top: 18px;
                right: 15px;
                width: 8px;
                height: 8px;
                transform: rotate(45deg);
                transition: transform .5s;
            }
            &.turnicon {
                &:after {
                    top: 20px;
                    transform: rotate(225deg);
                }
            }
            span {
                float: left;
                margin-right: 5px;
                overflow: hidden;
            }
            a {
                overflow: hidden;
                display: block;
                padding-top: 5px;
            }
        }
        .A {
            color: #000;
            padding: 15px;
            span {
                float: left;
                margin-right: 10px;
            }
            .Ablock {
                overflow: hidden;
                p {
                    margin-top: 0;
                    line-height: 1.8em;
                }
                em {
                    font-style: normal;
                }
            }
            ul, ol {
                margin: 0 0 10px;
                padding: 0;
                li {
                    list-style-type: none;
                    border-bottom: 1px solid #CCC;
                    background-image: url(../images/nplist_icon01.png);
                    background-repeat: no-repeat;
                    background-position: 0 15px;
                    padding: 10px 10px 10px 15px;
                    a {
                        display: block;
                    }
                    &:hover {
                        background-color: #FFC;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
//aplist01
.aplist01 {
    clear: both;
    ul {
        margin: 0 0 0 0px;
        padding: 0;
        li {
            width: 32%;
            float: left;
            list-style-type: none;
            margin: 0 16px 10px 0;
            a {
                display: block;
                border: 1px solid #CCC;
                padding: 10px 15px 10px 25px;
                background-image: url(../images/nplist_icon01.png);
                background-position: 10px 14px;
                background-repeat: no-repeat;
                border-radius: 5px;
                &:hover {
                    background-color: #FFC;
                    text-decoration: none;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .aplist01 ul li:nth-child(3n) {
        margin: 0 0 10px 0
    }
}
@media (max-width:1199px) and (min-width: 768px) {
    .aplist01 ul li {
        margin: 0 12px 10px 0;
    }
    .aplist01 ul li:nth-child(3n) {
        margin: 0 0 10px 0
    }
}
@media (max-width:767px) {
    .aplist01 ul li {
        margin: 0 10px 10px 0;
        width: 49%;
    }
    .aplist01 ul li:nth-child(2n) {
        margin: 0 0 10px 0
    }
}
@media (max-width:600px) {
    .aplist01 ul li {
        margin: 0 0px 10px 0;
        width: 100%;
    }
}
//資遣解僱小百科
.infographic {
    text-align: center;
    background-color: #cce09a;
    margin-bottom: 30px;
    padding: 0 0 10px;
}
@media (max-width:1199px) {
    .infographic img {
        width: 100%
    }
}
//epaperTb
.epaperTb {
    margin-bottom: 20px;
    .fileType,
    .explain {
        margin-right: 5px;
        img {
            vertical-align: middle;
        }
    }
    @include screen('mobile') {
        background-color: transparent !important; //Force table to not be like tables anymore
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
            margin-bottom: 10px; // background-color: #333;
        }
        td {
            // Behave  like a "row"
            border: none !important;
            border-bottom: 1px solid #eee !important;
            position: relative;
            padding: .5em;
            white-space: normal;
            text-align: left;
            &:before {
                content: attr(data-title);
                position: absolute;
                top: .5em;
                left: .5em;
                width: 20%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
                color: #000;
            }
        }
    }
}
// 主題三外送員
.delivery_staff_block {
    background-image: url('../images/theme03bg.jpg');
    background-repeat: repeat-x;
    background-position: left top;
    width: 100%;
    text-align: center;
    .delivery_staff_header {
        margin-bottom: 37px;
        @media(max-width: 820px) {
            img {
                width: 100%;
            }
        }
    }
    .title {
        color: #fff;
        text-align: center;
        width: 50%;
        background-color: #d72521;
        margin: 0 auto 30px;
        display: block;
        font-size: 1.75em;
        padding: 10px 20px;
        border-radius: 10px;
        line-height: 1.5em;
        @include box-sizing;
        @include screen('notebook') {
            width: 70%;
        }
        @include screen('tablet') {
            width: 80%;
        }
        @include screen('mobile') {
            width: 90%;
        }
    }
    .company_name {
        width: 60%;
        margin: 0 auto 30px;
        overflow: hidden;
        @include screen('notebook') {
            width: 80%;
        }
        @include screen('tablet') {
            width: 90%;
        }
        @include screen('mobile') {
            width: 94%;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: block;
                background-color: #fecf3b;
                padding: 0 0 0 30px;
                border-radius: 10px;
                margin: 0 0 20px;
                text-align: left;
                font-weight: 600;
                position: relative;
                overflow: hidden;
                font-size: 1.125em;
                color:#000;
                @include box-sizing;
                @include screen('mobile') {
                    padding: 0;
                }
                &:after {
                    content: '';
                    background-color: #ff9c00;
                    width: 50%;
                    line-height: 4em;
                    position: absolute;
                    right: -30px;
                    top: 0;
                    height: 100%;
                    z-index: 1;
                    transform: skew(-45deg);
                    @include screen('tablet') {
                        width: 55%;
                    }
                    @include screen('mobile') {
                        display: none;
                    }
                }
                span.name {
                    float: left;
                    line-height: 1.5em;
                    padding: 10px 0 5px;
                    @include box-sizing;
                    @include screen('mobile') {
                        float: none;
                        padding: 10px;
                        display: block;
                    }
                    em {
                        display: block;
                        font-style: normal;
                        @include screen('mobile') {
                            display: inline-block;
                        }
                    }
                }
                span.relation {
                    display: inline-block;
                    padding: 0 30px;
                    float: right;
                    border-radius: 0 10px 10px 0;
                    line-height: 4em;
                    width: 40%;
                    position: relative;
                    z-index: 3;
                    @include box-sizing;
                    @include screen('tablet') {
                        width: 43%;
                    }
                    @include screen('mobile') {
                        float: none;
                        width: 100%;
                        background-color: #ff9c00;
                        line-height: 1.5em;
                        padding: 10px 10px 10px 30px;
                        display: block;
                        border-radius: 0 0 10px 0;
                        &:before {
                            content: '';
                            border: 6px solid #fff;
                            border-color: transparent transparent transparent #fff;
                            position: absolute;
                            left: 13px;
                            top: 15px;
                        }
                    }
                }
            }
        }
    }
    // 
    .delivery_staff_qa01 {
        margin-bottom: 60px;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 50px;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                @include screen('tablet') {
                    margin-right: 30px;
                    margin-bottom: 10px;
                }
                @include screen('mobile') {
                    margin-right: 0;
                }
                .construction {
                    position: absolute;
                    right: 0;
                    bottom: -10px;
                }
                a{
                    display: block;
                }
            }
        }
    }
    // 
    .delivery_staff_qa02 {
        margin-bottom: 60px;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 70px;
                &:last-child {
                    margin-right: 0;
                }
                @include screen('tablet') {
                    margin-right: 40px;
                    margin-bottom: 10px;
                }
                @include screen('xs_mobile') {
                    margin-right: 0;
                    display: block;
                }
                a{
                    display: block;
                }
            }
        }
    }
}

/*--------------------------------------404-*/
.Errorwrap {
    margin: 60px auto 0;
    position: relative;
    padding: 40px;
    width: 480px;
    box-shadow: 0 0 5px #ccc;
}
.Errorwrap .errorcontent {
    padding: 0px;
    margin: 0 auto 30px;
    overflow: hidden;
    text-align: center;
}
.Errorwrap .error {
    color: #333;
    background-color: #ffc000;
    font-size: 3.5em;
    float: left;
    margin: 0 20px 20px 0px;
    padding: 25px 32px;
    font-weight: bolder;
    border-top: 6px dotted #000;
    border-bottom: 6px dotted #000;
}
.Errorwrap .errorcontent .explain {
    font-size: 2.5em;
    color: #555;
    margin: 0px 0 15px;
    line-height: 130%;
}
.Errorwrap .errorcontent .explain em {
    font-style: normal;
    display: block;
    font-size: 0.65em
}
.Errorwrap .errorcontent p {
    font-size: 1.25em;
    color: #333;
    clear: both;
}
.Errorwrap .formBtn {
    border-top: 1px solid #ccc;
    padding: 30px 0 0 0
}
@media (max-width:550px) {
    .Errorwrap {
        width: 100%;
    }
    .Errorwrap .error {
        float: none
    }
}