// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.nplist {
    ul,
    ol {
        overflow: hidden;
        padding: 1em 0;
        margin: 0;
        overflow: hidden;
    }
    li {
        display: block;
        width: 100%;
        margin: 0 1% 10px 0;
        float: left;
        @include box-sizing(border-box);
        
        @include screen('mobile') {
            float: none;
            width: 96%;
            margin: 0px auto 10px;
            &:nth-child(even) {
                width: 96%;
                margin-right: auto;
            }
        }
        a {
            @include border-radius(4px);
            border: 2px solid #DDD;
            padding: 1em 1em 1em 2.5em;
            display: block;
            vertical-align: top;
            background-image: url(../images/link_icon01.png);
            background-position: 20px center;
            background-repeat: no-repeat;
            @include text-overflow;
            position: relative;
            .num {
                position: absolute;
                width: 1em;
                top: 1em;
                left: .5em;
                text-align: right;
                &:after {
                    content: ".";
                    display: inline-block;
                }
            }
            &:hover,
            &:focus {
                border: 2px solid $primaryColor;
                background-color: #ffc;
                color: #333;
            }
        }
    }
}
.nplist2 {
    ul,
    ol {
        overflow: hidden;
        padding: 1em 0;
        margin: 0;
        overflow: hidden;
    }
    li {
        width: 31%;
        float: left;
        margin: 0 1.167% 15px;
        list-style-type: none;
        font-size: 1.125em;
        text-align: center;
        @include screen('mobile') {
            width: 48%;
            margin: 0 1% 15px;
        }
        @media(max-width: 480px) {
            width: 100%;
            margin: 0 auto 15px;
        }
        a {
            display: block;
            padding: 20px 15px 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            text-align: center;
            background-color: #fff;
            // white-space: nowrap;
            // text-overflow:ellipsis;
            // overflow:hidden;
            height: 210px;
            @media(max-width: 480px) {
                white-space: normal;
            }
            img {
                display: block;
                width: 150px;
                margin: 0 auto 15px;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5em;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            &:hover, &:focus {
                border: 2px solid $primaryColor;
            }
        }
    }
}